body {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 60px;

}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 26px;
}

#first-section-heading {
    color: white;
}

p {
    font-size: 17px;
    color: rgb(116, 110, 110);
}

#first-section-p {
    color: white;
}

section {
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 10%;
}

.first-section {

    background-image: url(images/donation13.jpg);
}



.button {
    text-decoration: none;
    background-color: tomato;
    padding: 20px 40px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    display: inline-block;
    margin-top: 30px;
}

.first-section div {
    margin-top: -50px;
    padding: 10%
}

.parent-of-donate-amount-box {
    display: flex;
    width: 60%;

    margin-left: 20%;

}

.donate-amount-box {
    background-color: azure;
    margin: 2%;
    color: rgb(116, 109, 109);
    width: 20%;
    border-radius: 5px;
    padding: 1% 0%;
}

#donate-amount-box-2 {
    color: tomato;
    border: 2px solid tomato;
    background-color: rgba(250, 235, 215, 0.479);
}

.donate-amount-input {
    border: none;
    font-size: 20px;
    color: gray;
    margin-top: 5%;
}

hr.solid {
    border-top: 1px solid #bbb;
    width: 65%;
}

.mainbox-of-donate-plan-items {
    display: flex;
    width: 80%;
    margin-left: 10%;
}

.donate-plan-item {
    margin: 1%;
    padding: 10% 2% 5%;
    background-position: 7% 20%;
    text-align: left;
}

#donate-plan-item-1 {
    background-image: url(images/food.png);
    background-color: rgba(217, 239, 250, 0.548);
    background-repeat: no-repeat;
}

#donate-plan-item-2 {
    background-image: url(images/shelter.png);
    background-color: rgba(255, 248, 220, 0.644);
    background-repeat: no-repeat;
}

#donate-plan-item-3 {
    background-image: url(images/Frame-1.png);
    background-color: rgba(255, 228, 196, 0.685);
    background-repeat: no-repeat;
}

#about-us-section {
    display: flex;
    padding: 5% 5% 1px;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}

#about-us-section div {
    width: 50%;
    text-align: justify;
}

#about-us-section img {
    height: 500px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


form {
    background-color: rgba(255, 228, 196, 0.685);
    width: 40%;
    margin-left: 20%;
    margin-top: 50px;
    padding: 3% 10% 5%;
}

#form-input-1 {
    background-color: rgb(223, 217, 217);
    border-radius: 5px 0px 0px 5px;
    margin-right: -0.3%;
    padding: 15px 4%;
    text-align: left;
    color: black;
}

#form-input-2 {
    border-radius: 0 5px 5px 0;
    margin-left: -0.3%;
    padding: 15px 4%;
}

footer {
    text-align: center;
    background-color: black;
    margin-bottom: -20px;
    padding: 1% 0%;
    margin-bottom: -10%;
}

footer h2 {
    color: rgba(165, 81, 81, 0.918);
    font-family: 'Lobster Two', cursive;
}

#footer-p {
    color: rgba(255, 255, 255, 0.658);
    font-size: 15px;

}